name: Trigger Webhook

on:
  push:
    branches:
      - main

jobs:
  webhook:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger Webhook
        run: |
          curl -X GET "https://shellgo.siushin.com?tag=api.gpadmin" || true
